body{
  background-color:black;
  color:white ;
}
.header{
  text-align:center;
  font-size:50px;
  font-weight: 900;
}

.App{
  width:60%;
  margin: auto;
  background-color:rgb(212, 230, 8) ;
  /* margin-top:100px; */
  padding: 20px 50px 50px 50px;
  color: black;
}
.input-btn{
  background-color:black;
  height:40px;
  width:70%;
  border-radius: 10px;
  border: 1px solid black;
  font-size:20px;
  padding-left: 10px;
  color: white;
  margin-right: 10px;
}

.Add-btn{
  background-color:rgb(84, 2, 2);
  height:40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  font-size:18px;
  /* padding-left: 10px; */
  color: white;
}

.todo-items{
  /* border: 1px solid black; */
  width:90%;
  /* text-align: center; */
  margin-left:4%;
  margin-top: 10px;
  height:40px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

.items{
  /* background-color:red; */
  height:34px;
  /* padding: 5px; */
  border: 1px solid black;
  border-radius: 5px;
}

.task{
  padding: 6px;
  background-color:rgb(57, 2, 50);
  color: white;
  height:32px;
  border: 1px solid black;
}
.delete-btn{
  background-color: rgb(196, 19, 19);
  font-size:12px;
  height: 32px;
  width:32px;
  border-radius: 50%;
  margin-left: 5px;
  font-size:18px;
  font-weight:700;
}
.toggle-btn{
  /* background-color:white; */
  background-color:black;
  color: white;
  height:32px;
  font-size:16px;
  margin-left: 5px;
  width:70px;
}
.i-num{
  height:32px;
  /* background-color:black; */
  /* color: white ; */
  margin-right: 5px;
  padding:4px;
  border-radius:5px;
  /* margin-left: 5px; */
  /* border: 1px solid black; */
}
#status{
  margin-left: 5px;
  background-color:rgb(0, 20, 85);
}
.description{
  background-color:black;
  padding: 10px;
  padding-left:20px;
  margin-right: 20%;
  margin-left:10%;
  width:40%;
  border-radius: 10px;
  color:white;
}
.description-box{
  font-size:14px;
  width:72%;
  border-radius: 10px;
  padding:10px;
  margin-top: 10px;
}
.task-parent-div{
 border: 1px solid black;
 padding-bottom: 20px;
 margin-top:10px;
 border-radius: 30px;
 background-color:white;
 /* width:80%; */
}